<!-- <tr class="table">
<th class="border" scope="row">ID</th>
<td class="border">{{loca.name}}</td>
<td class="border">{{loca.description}}</td>
</tr> -->


<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element" > 1 </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{loca.name}} </td>
  </ng-container>
  
  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{loca.description}} </td>
  </ng-container>