<mat-toolbar>
    <img src="./assets/logo.svg" alt="logo" style="height: inherit;">
    <span class="example-spacer"></span>
   <span>Block-Covid</span>
   <button *ngIf="token" style="margin-left: auto;">Se déconnecter</button>
</mat-toolbar>
<router-outlet></router-outlet>
<div>
    <mat-toolbar style="position: fixed; bottom: 0; width: 100%;">
        <span style="font-size: small;">
            Copyright © 2019-2020 - Tous droits réservés.
             <span style="font-size: xx-small; color: crimson;">PFE-Groupe12</span>
        </span>
    </mat-toolbar>    
</div>