.add-location-container {
    padding-top: 10%;
}

h2 {
    padding: 2%;
}
.location-form {
    padding-bottom: 3%;
}

[type=submit] {
    margin-bottom: 2%;
}

.list-locations{
    padding-right: 0;
    overflow-y: scroll; 
    height: auto;
}

#add-location {
    background-color: white;
    height: 350px;
}