<div class="container generate-qrcode-container">
    <div class="row">
        <div class="col-md-6 border qrcode-form">
            <form #f="ngForm" (submit)="generateQrcode(f)" >
                <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nom du citoyen"
                      value=""
                      ngModel
                      name="client_name"
                    />
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btnSubmit">Génerer</button>
                  </div>
            </form>
        </div>
    </div>
</div>
